body {
    margin: 0;
    padding: 0;
}

.rounded-corner {
    border-radius: 8px;
    padding: 8px;
}

.stepper-container {
    margin: 28px auto;
}

.title-add-book {
    max-width: 100%;
    padding: 8px;
}

.mdl-stepper > .mdl-step > .mdl-step__content {
    background: rgba(0, 0, 0, 0.2);
}