* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #EAEDED;
    font-family: Arial, sans-serif;
}

a {
    text-decoration: none;
}

.contenedor {
    margin: auto;
    width: 90%;
    max-width: 1000px;
}

main article {
    background: #FFF;
    margin: 20px 0;
    padding: 20px;
    height: 1200px;
    border-radius: 8px;
    box-shadow: 0 6px 10px 0 rgba(0,0,0,.14),0 1px 18px 0 rgba(0,0,0,.12),0 3px 5px -1px rgba(0,0,0,.2);
}

/*  Enlaces del NAV */
.menu {
    background: #232F3C;
    padding: 5px 0;
    margin-bottom: 20px;
}

.menu .contenedor-botones-menu {
    display: none;
    justify-content: space-between;
}

.menu .contenedor-botones-menu button {
    font-size: 20px;
    color: #FFF;
    padding: 10px 20px;
    border: 1px solid transparent;
    display: inline-block;
    cursor: pointer;
    background: none;
}

.menu .contenedor-botones-menu button:hover {
    border: 1px solid rgba(255, 255, 255, .4);
}

.menu .contenedor-botones-menu .btn-menu-cerrar {
    display: none;
}

.menu .contenedor-botones-menu .btn-menu-cerrar.activo {
    display: inline-block;
}

.menu .contenedor-enlaces-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu .btn-departamentos {
    color: #FFF;
    padding: 7px;
    border-radius: 3px;
    display: flex;
    align-items: flex-end;
    border: 1px solid transparent;
    font-size: 12px;
    cursor: default;
}

.menu .btn-departamentos .fa-caret-down {
    margin-left: 20px;
    position: relative;
    bottom: 3px;
}

.menu .btn-departamentos:hover {
    border: 1px solid rgba(255, 255, 255, .4);
}

.menu .btn-departamentos span {
    display: block;
    font-size: 14px;
    font-weight: bold;
}

.menu .contenedor-enlaces-nav .enlaces a {
    color: #CCC;;
    border: 1px solid transparent;
    padding: 7px;
    border-radius: 3px;
    font-size: 14px;
}

.menu .contenedor-enlaces-nav .enlaces a:hover {
    border: 1px solid rgba(255, 255, 255, .4);
}

/* GRID */
.contenedor-grid {
    position: relative;
}

.grid {
    width: 100%;
    display: none;
    position: absolute;
    top: 5px;
    z-index: 1000;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: "categorias subcategorias subcategorias subcategorias";
}

.grid.activo {
    display: grid;
}

.grid::before {
    content: '';
    display: block;
    background: transparent;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #FFF;
    position: absolute;
    top: -5px;
    left: 65px;
}

.grid > div {
    background: #FFF;
    box-shadow: 0px 3px 6px rgba(0,0,0,.10);
}

/* Categorías */

.grid .btn-regresar {
    background: #232F3E;
    color: #FFF;
    border: none;
    padding: 10px;
    border-radius: 3px;
    margin: 20px;
    font-size: 16px;
    cursor: pointer;
    display: none;
}

.grid .btn-regresar .fa-arrow-left {
    margin-right: 10px;
}

.grid .categorias {
    grid-area: categorias;
    padding-top: 10px;
    min-height: 300px;
}

.grid .categorias .subtitulo {
    display: none;
}

.grid .categorias a {
    color: #000;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

.grid .categorias a .fa-angle-right {
    display: none;
}

.grid .categorias a:hover {
    color: #E47911;
    font-weight: bold;
    background: #EAEDED;
}

.grid .categorias a:hover .fa-angle-right {
    display: inline-block;
}